@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.home,
.stock {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background-color: #000;
  color: #fff;
}

.invoice {
	display: flex;
	align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #000;
}

/* Navbar CSS */
.navbar {
  background-color: #ffffff;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  color: #000;
}

.table {
	/* border-collapse: collapse; */
	/* max-width: 900px; */
	/* width: 100%; */
}

.table th, .table td {
	border: 1px solid #ddd;
	padding: 8px;
}

.nav-menu {
  background-color: #ffffff;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 450ms;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #151414;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #000000;
  color: #fff;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #ffffff;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

span {
}

.row-flex{
  display: flex;
}

.bill-layout {
  display: flex;
  flex: auto;
}

.bill-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.bill-left-nav {
  display: flex;
  align-items: flex-start;
  width: 200px;
  background-color: slategrey;
  border:2px solid black
}

.bill-left-nav > ul > li{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.bill-wrapper {
  border: 2px solid black;
}

.bill-wrapper > div {
  flex: 1 1 150px;
  width: 150px;
  align-items: center;
}

.bill-checkout-block {
  width: 100%;
  border:2px solid black
}

.card-layout{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 70%;
}

.table-type{
  font-weight: 600;
}

.mycard {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  cursor: pointer;
  transition: 0.1s;
  border-radius: 6px;
  width: 80px;
  height: 80px;
  background-color: rgb(110, 132, 153);
  margin: 10px;
}

.mycard.st0{
  background-color: #a0afbd;
}


.mycard.st1{
  background-color: #e2e25b;
}


.mycard.st2{
  background-color: #7ddc7d;
}

.mycard.st0:hover{
  background-color: #80858a;
}


.mycard.st1:hover{
  background-color: #ecec1f;
}


.mycard.st2:hover{
  background-color: #1cd71c;
}

.mycard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.mycard-top {
  text-align: center;
  border-bottom: 1px solid;
  font-size: small;
  margin: 0px 10px;
}

.mycard-body {
  text-align: center;
  padding-top: 19px;
  font-weight: 700;
}

.seating-view {
  padding-left: 100px;
}

.categ-list ul{
  list-style-type: none;
}

.categ-items{
  cursor: pointer;
  font-weight: 600;
}

.categ-items:hover{
  background-color: #80858a;
  color: #000;
}

.item-card{
  display: inline-block;
  width: 100px;
  height: 60px;
  margin-right: 10px;
  margin-top: 10px;
  border: 2px solid rgb(47, 46, 46);
  border-radius: 6px;
  padding-left: 4px;
  cursor: pointer;
}

.item-card:hover{
  background-color: #000;
  color: white;
}

.ord-total{
  font-weight: 600;
  text-align: end;
  padding-right: 6px;
}

/* .table{
  height: 500px;
} */

.button-div{
  display: inline-block;
  padding-right: 10px;
}

.no-print{
  display: none;
}

@media print{
.print-test{
    padding: 2px;
    text-align: right;
  }

  .no-print{
    display: block;
  }

  .bill-title{
    font-size: 12px;
    text-align: center;
    margin: 0;
  }
 
  .print-name{
    padding: 1px;
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black;
    margin-left: 3px;
    font-size: 12px;
  }

  .ticket{
    width: 65mm;
    max-width: 65mm;
  }

  .print-row{
    font-size: 12px;
    width: 98%;
    padding-left: 3px;
  }
  .print-col{
    width: 40%;
  }

  .foot-text{
    padding: 5px;
    text-align: center;
    font-size: 12px;
  }

  .bord-bottom{
    border-bottom: 0.5px solid black;
  }
  .table td{
    font-size: 12px;
    border: none;
  }

  .table tr{
    font-size: 12px;
    border: none;
    margin: 0px !important;
    padding: 0px !important;
  }

  .titlebold{
    font-weight: 600;
  }

  .padd-bottom{
    padding-bottom: 2px;
  }
}